body {
    background-color: black;

}

h1 {
    color: white;
    background-color: gold;



}


button {
    color: white;
    background-color: black;
    font-size: 30px;
    border: 0cm;


}

footer {
    background-color: azure;



}







































