h1 {
    color: yellow;
    background-color: black;
    text-align: center;
    font-family:  sans-serif;


}

p {
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: Georgia, ;

}

























