h1 {
    font-size: 40px;
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

h2 {
    font-size: 30px;
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}