.button {
    border: 0cm;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(21, 118, 228);
    transition: 0.3s;
    background-image: url(images/bmw\ background.jpg);




}

.button:hover {
    transform: scale(1.2);
  


}

form {
    background-color: rgba(0, 0, 0, 0.8);
    width: 20%;
    border-radius: 5cm;
    transition: 0.3s;
    border: solid 5px red; 
    
    


}

form:hover {
    transform: scale(1.1);
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 5px blue; 
 
    
    
}

.label {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.inp {
    color: white;
    background-color: black;

}


.b {
    color: black;
    background-color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s;
    border-radius: 1cm;



}
.b:hover {
    transform: scale(1.2);
    background: linear-gradient(blue);
    

}


.select {
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1cm;
    transition: 0.3s;


}







